body{
  font-family: Arial,Helvetica, sans-serif;
  margin:0 auto;
}

@font-face {
    font-family: DINProCondensedBlack;
    src: url(https://s0.2mdn.net/creatives/assets/2337175/DINPro_CondensedBlack.otf),
    url(https://s0.2mdn.net/creatives/assets/2337175/DINWeb-CondBlack.eot?#iefix) format('embedded-opentype');
}

@font-face {
    font-family: DINPro_CondensedBlack_Italic;
    src: url('https://s0.2mdn.net/creatives/assets/2337175/DINPro_CondensedBlack_Italic.otf'),
     url('https://s0.2mdn.net/creatives/assets/2337175/DINWeb-CondBlackIta.eot?#iefix') format('embedded-opentype');

}



#exitButton {
  position: absolute;
  width:inherit;
  height:inherit;
  top: 0px;
  left: 0px;
  cursor: pointer;
  background-color: rgba(0,0,0,0);
  opacity: 0;
  z-index: 400;
}

#container {
  margin:0 auto;
  position: relative;
  overflow: hidden;
  cursor: default;
  background-color:#fff;
}

#borderDiv{
  position: absolute;
  top: 0px;
  left: 0px;
  width: inherit;
  height: inherit;
  background-color:transparent;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  border:1px solid #999999;
  z-index: 402;
  pointer-events: none;
}

#preloader{
  position:absolute;
  background-image:url('./preloader.gif') ;
  width:50px;
  height:50px;
  top:50%;
  left:50%;
  margin-top:-25px;
  margin-left:-25px;
}

.super{
  vertical-align: super;
  font-size: 12px;
}

.main_copy,.final_copy,.cta{
    position:absolute;
    display: block;
    /*padding:5px;*/
    top:0px;
    left:0;
    font-family : 'DINPro_CondensedBlack_Italic', Arial, sans-serif;
    font-size :32px;
    /*line-height : 20px;*/
    text-align : left;
    /*font-style: italic;*/
    letter-spacing :2px;
    white-space: nowrap;
    opacity: 0;
}

.final_copy{
  font-size: 20px;
  opacity: 0;
  letter-spacing :1.5px;
}

.cta{
    font-family : 'DINProCondensedBlack', Arial, sans-serif;
    font-size :14px;
    opacity: 0;
    color: white;
}

img{
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height: auto;
}

.logo{
  /*position: absolute;*/
  top:0;
  left:0;
  /*width:100%;
  opacity: 0;*/
  opacity: 0;
  visibility: ;
}
