<!DOCTYPE html>
<html>
<!--
 * @Author: {{author}}
 * @Description: {{description}}
 * @Version: {{version}}

-->
<head>
  <title>{{title}}</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- inject:meta -->
  <!-- endinject -->

  <!-- inject:css -->
  <!-- endinject -->
  <!-- <link href="./DIN Pro Condensed Black.otf?family=Roboto+Condensed:700i&amp;subset=cyrillic,latin-ext" rel="stylesheet">  -->
</head>

<body onload="init('{{platformType}}');">
  <div id='container' style="width:{{width}}px;height:{{height}}px;">
      <canvas id="canvas" width={{width}} height={{height}} style="width:{{width}}px;height:{{height}}px;"></canvas>
      <div id='borderDiv'></div>
      <div id='preloader'></div>
      <div id='exitButton'></div>
  </div>
  <!-- inject:js -->
  <!-- endinject -->
 
</body>
</html>

